logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
.npm
.node_repl_history
.idea
*.iml
public
dist
src/**/*.js
src/**/*.js.map
src/**/*.jsx
src/**/*.jsx.map
tsd.json
typings
src/server/credentials.tsx